body
	font-family arial
	fant-size 16px
header 

	width 100%
	position fixed
	top -2.5em
	
	-webkit-transition all .5s
	&:before
		position absolute
		top 1em
		left 0
		content ""
		height 100%
		width 50%
		background blue
		z-index -1
		-webkit-transform skew(0deg,5deg)
		
	&:after
		position absolute
		top 1em
		right 0
		content ""
		height 100%
		width 50%
		background blue
		z-index -1
		-webkit-transform skew(0deg,-5deg)

	&:hover
		top 0em

	nav
		background blue
		color white
		text-align center

		ul
			padding 0
			margin 0
			li
				display inline-block 
				padding 1em

				a
					color white
					text-decoration none

		h1
			

			figure
				img
					border-radius 1em .1em
					position absolute
					width 100px
					left 43%


section 
	padding 5em