azul_oscuro=#22bcff
colordefecto =#f4e224
grisOscuro=#444
grisClaro= #e8e8e8
azul=#22bce0
naranja=#dd4f24
body
	background grisClaro
	color grisOscuro
	font-family arial
	font-size 16px


header
	position relative
	overflow hidden
	box-shadow 0 0.3em 0 rgba(0,0,0,0.4)
	z-index 2
	.logo
		padding 0 .5em 0 0
		width 80px
		border-right 2px solid azul_oscuro
		img
			
			width 80px


	.titular	
		padding 0 6.5em 0 6.5em
		.titulo
			margin 0
			paddin 0
		.filtro
			color azul
			font-weight bold
			font-style italic
			text-decoration none

		.publicar
			color white
			text-decoration none
			background naranja
			padding .5em 2em
			font-style 18px
			font-weight bold
			float right
			margin -1.3em 0em 0 0




	.usuario
		position absolute
		top 0
		right 0.5em
		.avatar
			
			img 
				width 80px
				border-radius 50%
				padding 0 1.5em 0 0


		a 
			display inline-block
			background naranja
			color white
			padding .3em .1em .3em 4em
			text-align left
			position absolute
			top 28px
			right 0
			z-index -1

nav
	.menu
		margin 0 0 1em 0
		padding  0
		background azul
		border-left .5em solid white
		position relative 
		height 2em

		&:before
			border-left 10px solid white
			border-top 1em solid transparent
			border-bottom 1em solid transparent
			content ""
			position absolute
			top 0
			left 0

		


		li
			display inline-block
		


			a
				text-decoration none
				color white
				font-weight bold
				display inline-block
				padding 0.5em 1em

				&:hover
					color black
			


.left
	float left
.right
	float right